html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#header {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#leftWrapper {
    position: absolute;
    left: 2;
    top: 52;
    width: 300;
    height: 300;
    background: black;
    opacity: 0.2;
}

#rightWrapper {
    position: absolute;
    right: 2;
    top: 52;
    width: 300;
    height: 300;
    background: black;
    opacity: 0.2;
}

#leftCanvas {
    position: absolute;
    top: 50;
    border: solid 2px black;
    left: 0;
}

#rightCanvas {
    position: absolute;
    top: 50;
    border: solid 2px black;
    right: 0;
}
